In [9]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv("milknew.csv")
df.shape

(1059, 8)

In [11]:
df.describe()

,pH,Temprature,Taste,Odor,Fat,Turbidity,Colour
count,1059.000000,1059.000000,1059.000000,1059.000000,1059.000000,1059.000000,1059.000000
mean,6.630123,44.226629,0.546742,0.432483,0.671388,0.491029,251.840415
std,1.399679,10.098364,0.498046,0.495655,0.469930,0.500156,4.307424
min,3.000000,34.000000,0.000000,0.000000,0.000000,0.000000,240.000000
25%,6.500000,38.000000,0.000000,0.000000,0.000000,0.000000,250.000000
50%,6.700000,41.000000,1.000000,0.000000,1.000000,0.000000,255.000000
75%,6.800000,45.000000,1.000000,1.000000,1.000000,1.000000,255.000000
max,9.500000,90.000000,1.000000,1.000000,1.000000,1.000000,255.000000

In [12]:
df.head()

    pH  Temprature  Taste  Odor  Fat   Turbidity  Colour   Grade
0  6.6          35      1     0     1          0     254    high
1  6.6          36      0     1     0          1     253    high
2  8.5          70      1     1     1          1     246     low
3  9.5          34      1     1     0          1     255     low
4  6.6          37      0     0     0          0     255  medium

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1059 entries, 0 to 1058
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   pH          1059 non-null   float64
 1   Temprature  1059 non-null   int64
 2   Taste       1059 non-null   int64
 3   Odor        1059 non-null   int64
 4   Fat         1059 non-null   int64
 5   Turbidity   1059 non-null   int64
 6   Colour      1059 non-null   int64
 7   Grade       1059 non-null   object
dtypes: float64(1), int64(6), object(1)
memory usage: 66.3+ KB

In [14]:
# remove strnig space.
df.rename(columns=lambda x: x.strip(), inplace = True)

In [15]:
from sklearn import preprocessing

df_raw_data = df.iloc[:, :7]        
print("*** Before Normalization: \n", df_raw_data)
data_numpy = df_raw_data.values     # returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
# normalization
data_scaled_numpy = min_max_scaler.fit_transform(data_numpy)
df_norm_data = pd.DataFrame(data_scaled_numpy)
print("*** After Normalization: \n", df_norm_data)

*** Before Normalization:
        pH  Temprature  Taste  Odor  Fat  Turbidity  Colour
0     6.6          35      1     0    1          0     254
1     6.6          36      0     1    0          1     253
2     8.5          70      1     1    1          1     246
3     9.5          34      1     1    0          1     255
4     6.6          37      0     0    0          0     255
...   ...         ...    ...   ...  ...        ...     ...
1054  6.7          45      1     1    0          0     247
1055  6.7          38      1     0    1          0     255
1056  3.0          40      1     1    1          1     255
1057  6.8          43      1     0    1          0     250
1058  8.6          55      0     1    1          1     255

[1059 rows x 7 columns]
*** After Normalization:
              0         1    2    3    4    5         6
0     0.553846  0.017857  1.0  0.0  1.0  0.0  0.933333
1     0.553846  0.035714  0.0  1.0  0.0  1.0  0.866667
2     0.846154  0.642857  1.0  1.0  1.0  1.0  0.400000
3     1.000000  0.000000  1.0  1.0  0.0  1.0  1.000000
4     0.553846  0.053571  0.0  0.0  0.0  0.0  1.000000
...        ...       ...  ...  ...  ...  ...       ...
1054  0.569231  0.196429  1.0  1.0  0.0  0.0  0.466667
1055  0.569231  0.071429  1.0  0.0  1.0  0.0  1.000000
1056  0.000000  0.107143  1.0  1.0  1.0  1.0  1.000000
1057  0.584615  0.160714  1.0  0.0  1.0  0.0  0.666667
1058  0.861538  0.375000  0.0  1.0  1.0  1.0  1.000000

[1059 rows x 7 columns]

In [16]:
df2 = df_norm_data
df2 = pd.concat([df2, df['Grade']], axis=1)